<div class="row">
  <div class="col m6 offset-m3 s12" *ngIf="!showForm">
    <a (click)="showForm=true" class="btn-floating btn-large waves-effect green">
      Add
    </a>
  </div>
  <div class="col m6 offset-m3 s12 my-form" *ngIf="showForm">
    <form #myForm="ngForm" novalidate (ngSubmit)="onSubmit('ngForm')">
      <h5>
        New aquarium
      </h5>
      <div class="input-field">
        <input id="number" name="number" [(ngModel)]="numberOfAquarium"  required type="number">
        <label for="number" >Number of Aquarium</label>
      </div>
      <div class="input-field">
        <input id="form" name="form" ngModel required type="text">
        <label for="form">Form of Aquarium</label>
      </div>
      <div class="input-field">
        <input id="size" name="size" ngModel required type="number">
        <label for="size">Size of Aquarium</label>
      </div>
      <div class="input-field">
        <input id="isBackLight" name="isBackLight" ngModel  type="checkbox">
        <label for="isBackLight"> isBackLight</label>
      </div>
      <div class="input-field">
        <button type="button" (click)="showForm=false" class="rem-row btn-floating waves-effect waves-light left blue-grey">
          keyboard_arrow_up

        </button>
        <button type="submit" [disabled]="myForm.invalid" class="rem-row btn-floating waves-effect waves-light left blue-grey">

          keyboard_arrow_up
        </button>
        <button type="submit" (click)="addAquarium()" [disabled]="myForm.invalid" class="rem-row btn-floating waves-effect waves-light left blue-grey">
          <i class="material-icons">
            done
          </i>

        </button>
      </div>
    </form>

  </div>
</div>
