<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Aquariums
    </ion-title>
    <ion-buttons slot="secondary">
      {{userName}}
      <ion-button routerLink="/login" routerDirection="root">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list>
      <ion-list-header>
        <ion-label>
          Aquarium
        </ion-label>
        <ion-button shape="round" fill="outline" color="success" (click)="add()">
          <ion-icon slot="start" name="add">
          </ion-icon>
          Add
        </ion-button>
      </ion-list-header>

      <app-fish-aquarium *ngIf="showNew" [isNew]="true" (addAquarium)="addAquarium($event)" (cancelAddingAquarium)="showNew=false">

      </app-fish-aquarium>
      <div>
        <ion-label style="float: left; margin:20px">
          Number Of Aquariums
        </ion-label>
        <ion-label style="float: right; margin:20px ">
          Forms
        </ion-label>
      </div>
      <div *ngFor="let aquarium of aquariums let i=index">
        <ion-item-sliding>
          <ion-item-options side="start">
            <ion-item-option color="primary" (click)="showEdit=i">
              <ion-icon name="create">
              </ion-icon>
              Change
            </ion-item-option>
            <ion-item-option color="danger" (click)="delete(aquarium)">
             <ion-icon name="trash">
             </ion-icon>
              Delete
            </ion-item-option>
          </ion-item-options>
          <ion-item>
            <ion-icon slot="start" name="fish">
            </ion-icon>
            <ion-label>
              {{aquarium.numb}}
            </ion-label>
            <ion-note slot="end">{{aquarium.form}}</ion-note>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option color="secondary" routerLink="/fishs/{{aquarium.id}}" routerDirection="forward">
              <ion-icon name="reorder">
              </ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-item-sliding>
        <app-fish-aquarium *ngIf="showEdit == i" [isNew]="false" [fishAquarium]="aquarium" >

        </app-fish-aquarium>
      </div>
    </ion-list>
    <ion-item text-center>
      <ion-input type="text" [(ngModel)]="extraData">
      </ion-input>
    </ion-item>
    <ion-button color="primary" class="ion-float-right" (click)="sendData()">
      <ion-icon slot="start" name="send"></ion-icon>Send
    </ion-button>
  </ion-content>
</ion-content>
